html {
  background-color: #EEEEEE;
  /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  color: #666666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html.about {
  background: url("../images/telephone.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
  margin-left: 20px
}

.board {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

#default-board {
	width: 700px;
	height: 400px;
}

.fs-container {
  width: 320px;
  margin: auto;
}

.literally {
  width: 100%;
  height: 100%;
  position: relative;
}
